.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* <<<Header>>> */

header{
    width: 100%;
    padding: 44px 98px 79px 98px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 91px;
}

.header_logo{
    color: #758BFD;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
}

.logo_color_2{
    color: #27187F;
}

li a{
    color: #8172D5;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

/* <<<Section>>> */

section{
    width: 90%;
    padding: 52px auto 63px auto;
    border: 5px solid blueviolet;
}

.section_title{
    color: #225857;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 69px;
}

.cards{
    width: 100%;
    height: 831px;
    display: flex;  
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #133B3A; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    border: 3px solid greenyellow;
}

.card{
    width: 31%;
    height: 368px;
    padding-top: 33px;
    padding-bottom: 36px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 5px solid brown;
}

.card_img{
    width: 90%;
}

.card_text{
    width: 90%;
    text-align: justify;
}

/* <<<Footer>>> */

footer{
    width: 100%;
    padding: 46px 98px 30px 168px;
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo{
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}

.form{
    width: 249px;
    height: 44px;
    border: 1px solid #758BFD;
    border-radius: 10px;
    position: relative;
}

input{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
}

.fa-magnifying-glass{
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    color: 
    #9747FF;
}